@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* Navbar */

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
    color: whitesmoke;
    cursor: pointer;
}





/* Header */

header{
    width: 100vw;
    height: 100vh;
    background: url(./img/header-bg.jpg);
    overflow: hidden;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036f ;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: #fc036f;
    border-radius: 30px;
    color: whitesmoke;
}




/* Section Events */

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font: 4vmin;
    color: rgb(73, 73, 126);
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row{
    margin-top: 50px;   
}

h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn{
    margin-top: 50px;
}



/* Section Explore */
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bgimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1{
    font-size: 7vmin;
}

.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p{
    color: rgb(221,221,221);
}

.explore-content ctn{
    margin-top: 40px;
}

.content-col{
    width: 40%;
}

.image-col{
    width: 60%;
}

.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
}

.image-gallery img{
    width: 300px;
    margin: 10px;
}

.content-col h1{
    font-size: 7vmin;
    color: #484872;
}

.content-col .line{
    margin-left: -1px;
}

.content-col p{
    padding: 0;
    margin: 30px auto;
}

.content-col .ctn{
    margin-left: -100px;
}




/* footer */
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}